@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: #f2f2f2;*/
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
}

h1 {
    color: #1c68b3;
    font-size: clamp(4rem, 10vw, 5rem);
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    /*margin: 2rem 1.5rem;*/
    /*border: 1rem;*/
    padding: 0.5rem 4rem;
    /*white-space:nowrap;*/
    /*font-size: 0.9rem;*/
    display: inline-block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: #f7f7f7;
    font-weight: 500;
    /*background: #8d8d8d;*/
    background-image: linear-gradient(216deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 25%, rgba(42, 42, 42, 0.05) 25%, rgba(42, 42, 42, 0.05) 38%, rgba(223, 223, 223, 0.05) 38%, rgba(223, 223, 223, 0.05) 75%, rgba(36, 36, 36, 0.05) 75%, rgba(36, 36, 36, 0.05) 100%), linear-gradient(44deg, rgba(128, 128, 128, 0.05) 0%, rgba(128, 128, 128, 0.05) 34%, rgba(212, 212, 212, 0.05) 34%, rgba(212, 212, 212, 0.05) 57%, rgba(25, 25, 25, 0.05) 57%, rgba(25, 25, 25, 0.05) 89%, rgba(135, 135, 135, 0.05) 89%, rgba(135, 135, 135, 0.05) 100%), linear-gradient(241deg, rgba(55, 55, 55, 0.05) 0%, rgba(55, 55, 55, 0.05) 14%, rgba(209, 209, 209, 0.05) 14%, rgba(209, 209, 209, 0.05) 60%, rgba(245, 245, 245, 0.05) 60%, rgba(245, 245, 245, 0.05) 69%, rgba(164, 164, 164, 0.05) 69%, rgba(164, 164, 164, 0.05) 100%), linear-gradient(249deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 32%, rgba(148, 148, 148, 0.05) 32%, rgba(148, 148, 148, 0.05) 35%, rgba(202, 202, 202, 0.05) 35%, rgba(202, 202, 202, 0.05) 51%, rgba(181, 181, 181, 0.05) 51%, rgba(181, 181, 181, 0.05) 100%), linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));
    border-radius: 1rem;
    /*border:3px solid #a1a1a1;*/
    transition: 0.3s ease-in-out;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);

}

@media screen and (min-width: 600px) {
    a {
        width: 80%;
        padding: 0.5rem;
    }
}

a:hover {
    color: #3eda93;
}

.card-pink {
    border-radius: 6px;
    border-bottom: 4px solid #ff2c95 !important;
}

.card-blue {
    border-radius: 20px;
    border-bottom: 5px solid #1c68b3 !important;
    border-right: 5px solid #1c68b3 !important;
}

.col .card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-body {
    padding: 1rem 1.5rem;
}

.card-body p {
    color: #4B5563;
}

.card-blue svg {
    fill: #1c68b3;
}

.card-pink svg {
    fill: #ff2c95;
}

.card-blue .card-footer p {
    color: #1c68b3;
}

.card-pink .card-footer p {
    color: #ff2c95;
}

.card-shape {
    position: relative;
}

.custom-shape-divider-bottom-1634717805 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634717805 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.custom-shape-divider-bottom-1634717805 .shape-fill {
    fill: #FFFFFF;
}

.font-weight-bolder {
    font-size: 30px;
    text-align: center;
}

.foot {
    margin-top: 20px;
    margin-bottom: -50px;
    text-align: center
}

.article {
    /*width: 700px;*/
    /*height: 200px;*/
    /*position: relative;*/
    overflow: hidden;
    font-size: 40px;
}

.article .flag {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
    position: absolute; /*绝对定位*/
    height: 53px;
    line-height: 20px;
    text-align: center;
    width: 400px;
    /*background-color: #2d9afd;*/
    color: #fff;

}

.article .flag-left {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -140px;
    top: 30px;
}

.article .flag-right {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -18px;
    top: 9px;
}

